<div class="chat__left">
    <div class="my-profile">{{ name }}</div>
    <div class="contacts">
        <ul class="contacts__list" id="jq-contacts-list"> {{> contact}}</ul>
    </div>
    <div class="rooms">
        <span id="jq-room-add">Добавить комнату</span>
        <ul class="rooms__list" id="jq-rooms-list"> {{> room}}</ul>
    </div>
</div>
<div class="b-messages">
    <div id="jq-messages-list" class="b-messages__list"></div>
    <form id="jq-form-message" class="b-messages__control">
        <textarea id="textareaId" class="b-messages__input" required name="text"></textarea>
        <button class="b-messages__btn">Отправить</button>
    </form>
</div>
