{{#contact}}
    <li class="contacts__item">
        <div class="contacts__name jq-contact" data-user-id="{{ userId }}">
            {{ name }}
        </div>
        <input type="checkbox" name="usersInRoom[]" value="{{ userId }}" style="display: none">

    </li>
{{/contact}}
