{{#message}}
    <div class="{{classes}}">
        {{#userName}}
        <span class="message__name">{{userName}}</span>
        {{/userName}}
        <span class="message__text" data-message-id="{{messageId}}" data-user-id="{{userId}}">{{text}}</span>
        <span class="message__time">{{dateCreate}}</span>
    </div>
{{/message}}

