{{#room}}
<li class="rooms__item">
    <div class="jq-room rooms__name" data-room-id="{{ roomId }}">
        {{ name }}
    </div>
    <div class="room-control">
        {{#isEdit}}
            <span class="room-control__btn jq-room-edit">&#9998;</span>
            <span class="room-control__btn jq-room-save" style="display: none;">&#10004;</span>
        {{/isEdit}}
        <span class="room-control__btn jq-room-remove">&#10008;</span>
    </div>
</li>
{{/room}}
