<form class="auth__form" id="jq-auth-form">
    <fieldset>
        <label>
            {{ login }}
            <input type="radio" name="auth" value="login" checked>
        </label>
        <label>
            {{ registration }}
            <input type="radio" name="auth" value="reg">
        </label>
    </fieldset>
    <input class="auth__input" required type="text" name="name" autocomplete="on" placeholder="Имя">
    <input class="auth__input" required type="password" name="password" autocomplete="current-password" placeholder="Пароль">
    <button class="auth__btn-send">Отправить</button>
</form>
