body {
  background-color: #596275;
  color: #fdfdfd;
}
.container {
  margin: 0 auto;
  padding: 25px;
  display: flex;
  justify-content: center;

}
.chat {
  background-color: #303952;
  width: 960px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  &__left{
    border-right: 1px solid white;
  }
}
.my-profile {
  margin: 20px;
}
.contacts, .rooms {
  width: 200px;
  margin: 10px;
  border-top: 1px solid white;
  &__list {
    padding: 10px;
  }
  &__name {
    width: 100%;
    &.selected {
      background-color: #464545;
    }
    &.edit {
      background-color: white;
      padding: 5px;
      min-width: 50px;
      color: #000;
    }
  }
  &__item {
    font-size: 18px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    &.selected {
      background-color: #464545;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.room-control {
  position: relative;
  z-index: 999;
  display: flex;
  margin-left: 10px;
  &__btn {
    font-size: 24px;
    width: 20px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.b-messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  &__list {
    height: 500px;
    overflow-y: auto;
  }
  &__item {
    text-align: left;
    margin-bottom: 15px;
    &--me{
      text-align: right;
    }
  }
  &__input {
    width: 100%;
    background-color: #e4e0e0;
  }
}
.message {
  &__text {
    &--edit {
      background-color: white;
      padding: 5px;
      min-width: 50px;
      color: #000;
    }
  }
  &__time {
    margin-top: 3px;
    font-size: 10px;
    display: block;
  }
  &__name {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
}
.auth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__form {
    background-color: #303952;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    width: 300px;
  }
  &__input {
    margin-bottom: 5px;
  }
  &__btn-send {
    width: 100px;
  }
}
